In [28]:
import numpy as np
import pandas as pd

In [29]:
df=pd.read_csv("spam.csv")
df.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [30]:
df.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [31]:
df.shape

(5572, 5)

In [32]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [33]:
df.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
df['class']=df['class'].map({'ham':0,'spam':1})

In [35]:
df.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
cv=CountVectorizer()

In [38]:
x=df['message']
y=df['class']

In [39]:
x=cv.fit_transform(x)

In [40]:
x

<5572x8625 sparse matrix of type '<class 'numpy.int64'>'
	with 73734 stored elements in Compressed Sparse Row format>

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x, y,test_size=0.2)

In [43]:
from sklearn.naive_bayes import MultinomialNB

In [44]:
model=MultinomialNB()

In [45]:
model.fit(x_train,y_train)

MultinomialNB()

In [46]:
result=model.score(x_test,y_test)

In [47]:
result=result*100

In [48]:
result

97.48878923766816

In [49]:
import pickle

In [50]:
pickle.dump(model,open("spam.pkl","wb"))

In [51]:
pickle.dump(cv,open("vectorizer.pkl","wb"))

In [52]:
clf=pickle.load(open("spam.pkl","rb"))

In [53]:
clf

MultinomialNB()

In [54]:
msg="You There"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]